<h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click Me</button>
<br>
<br>
<div (mouseenter) = "handleEvent($event)" style="background-color: green; width: 100px; height: 100px;"></div>

<div (mouseleave)="handleEvent($event)" style="background-color: rgb(29, 15, 103); width: 100px; height: 100px;"></div>

<br> 
<br>

<input (input)= "handleInputEvent($event)"
(focus)= "handleInputEvent($event)" 
(blur)= "handleInputEvent($event)" 

type="text" name="user">