<!-- <h1>Hello Angular </h1>
{{title}}
<br>
{{Education}} 
{{2+9}}
<h2>x+y ={{x+y}}</h2>
<h3>{{x==y}}</h3>
<app-profile></app-profile>
<h4>{{user1}}</h4>

<h4>{{user2}}</h4>

<h3>{{user1 ==user2}}</h3>

<h2>{{'hello'.toUpperCase()}}</h2>
<h2>{{user1.toUpperCase()}}</h2>
<h2>{{user1 }}</h2>
<h2>{{user2 }}</h2>
<login></login>
<app-profile style="background-color: skyblue;"></app-profile>
<app-signup></app-signup> -->



<!-- <h1>Function call on Button Click</h1>
<button (click) = "handleClickEvent()">Click me</button>
<button (click)=  "sum(6,4)">Sum</button> -->


<h1>Counter App</h1>
<div style="text-align: center">
  <h2 class="count">{{count}}</h2>

  <div>
    <button (click)= "handleCounter('minus')" class="btn bg-red">Decrement</button>
    <button (click)="handleCounter('reset')" class="btn bg-black">Reset</button>
    <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>

  </div>
</div>